PORT=5000
MONGODB_URI=mongodb://localhost:27017/contest_platform
JWT_SECRET=super_secret_jwt_token_key_change_in_production
CLIENT_URL=http://localhost:5173

# MASTER ADMIN CREDENTIALS
ADMIN_ID=mystery0419
ADMIN_PASSWORD=0419
